<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div id="chooseFruit">
	<div v-for="people in peoples">
		{{people}}
		<my-fruit :fruits="fruits" :choose-fruits="chooseFruits" @choose="onMyFruitChooseEvent" @remove="onMyFruitRemoveEvent"></my-fruit>
	</div>
	大家选了：{{chooseFruits}}
</div>
<script src="js/vue.min.js"></script>
<script>
	Vue.component('my-fruit', {
		template: '\
			<span>\
				<button v-for="fruit in fruits" @click="onClickFruit(fruit)" :disabled="check(fruit)">{{fruit}}</button>\
				<span v-if="myChoose">选择了：{{myChoose}}</span>\
			</span>',
		props: {
			fruits: {
				type: Array
			},
			chooseFruits: {
				type: Array
			}
		},
		data: function () {
			return {
				myChoose: ''
			}
		},
		methods: {
			onClickFruit: function (name) {
				if(this.myChoose) {
					this.$emit('remove', this.myChoose);
				}
				this.myChoose = name;
				this.$emit('choose', name);
			},
			check: function (fruit) {
				return this.chooseFruits.indexOf(fruit) != -1
			}
		}
	})
	new Vue({
		el: '#chooseFruit',
		data: {
			peoples: ['小明', '小王', '小李', '小孙'],
			fruits: ['苹果', '香蕉', '梨', '桃', '西瓜'],
			chooseFruits: []
		},
		methods: {
			onMyFruitChooseEvent: function (name) {
				var _this = this;
				_this.chooseFruits.push(name);
			},
			onMyFruitRemoveEvent: function (name) {
				var _this = this;
				_this.chooseFruits.splice(_this.chooseFruits.indexOf(name), 1);
			}
		}
	})
</script>
</body>
</html>